// ====== Primary color's ============
$very-dark-blue: hsl(233, 47%, 7%);
$very-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);

// ====== Neutral color's ============
$White: hsl(0, 0%, 100%);
$Slightly-transparent-white-main: hsla(0, 0%, 100%, 0.75);
$Slightly-transparent-white-headings: hsla(0, 0%, 100%, 0.6);

// ======= Font family ============

$font-family-inter: "Inter", sans-serif;
$font-family-Lexend-Deca: "Lexend Deca", sans-serif;
